.App {
  display: flex;
  justify-content: center;
  &__inner {
    padding: 2px 4px;
    display: flex;
    align-items: center;
    width: 400px;
  }
  &__input {
    margin-left: 8px;
    flex: 1;
  }
  &__iconButton {
    padding: 10px;
  }
}

