.SearchPage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 2px 4px;
  display: flex;
  align-items: center;
  &__input {
    margin-left: 8px;
    flex: 1;
  }
  &__iconButton {
    padding: 10px;
  }
}

