.Breadcrumbs {
  padding-top: 10px;
  padding-left: 50px;
  text-decoration: underline;
  font-size: 12px;
  color: darkblue;
  &__icon {
    position: relative;
    top: 7px;
  }
}

.Hotel {
  display: flex;
  padding: 15px 50px 0;
  justify-content: space-between;
  &__form {
    width: 25%;
    height: 320px;
    padding-top: 20px;
    box-sizing: border-box;
    background-color: orange !important;
  }
  &__info {
    width: 70%;
  }
}

